<!DOCTYPE html>
<html>

<head>
    <title>>实时塔科夫时间</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="查看逃离塔科夫中当前时间和未来时间.逃离塔科夫中的时间流逝速度为每秒7秒">
    <style>{{{style}}}</style>
    <script type="module">{{{script}}}</script>
</head>

<body class="bg-grey-900 text-grey-300">
    <div id="root"><noscript>完整体验需要JavaScript. <br><iframe src="/api?type=plain"/></noscript></div>
</body>

</html>
